<style>
{% if section.settings.product_details_display_method == 'hover' %}
  @media screen and (min-width: 769px) {
    [data-section-id="{{ section.id }}"] .product__cover,
    [data-section-id="{{ section.id }}"] .product__details {
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    /*================ Remove hover in IE8 and below ================*/
    .lt-ie9 [data-section-id="{{ section.id }}"] .product__cover {
      height: auto;
      position: relative;
      opacity: 1;
      width: auto;
    }
    .lt-ie9 [data-section-id="{{ section.id }}"] .product__details {
      height: auto;
      position: relative;
      opacity: 1;
      width: auto;
    }
  }
{% endif %}

@media screen and (min-width: 769px) {
  [data-section-id="{{ section.id }}"] .product__details {
    {% if section.settings.product_details_display_method == 'always' %}
      margin-top: 15px;
    {% endif %}

    z-index: 2;
  }
}

{% if section.settings.product_details_display_method == 'always' %}
  [data-section-id="{{ section.id }}"] .product__price {
    margin-bottom: 0;
  }
  @include at-query($min, $large) {
    .product:hover .product__price {
      color: {{ settings.color_accent }};
    }
  }
{% endif %}
</style>

{% assign featured_collection = collections[section.settings.featured_collection] %}
{% assign products_per_row = section.settings.num_per_row %}
{% assign rows = section.settings.num_rows %}
{% assign total_products = products_per_row | times: rows %}

<div data-section-id="{{ section.id }}">
  <div class="section-header text-center">
    {% unless section.settings.title == blank %}
      <h2 class="section-header__title">{{ section.settings.title | escape }}</h2>
    {% endunless %}
    {% if featured_collection.description != blank %}
      <hr class="hr--small">
      <div class="rte rte--header">
        {{ featured_collection.description }}
      </div>
    {% endif %}
  </div>

  {% case products_per_row %}
    {% when 2 %}
      {% assign grid_item_width = 'medium--one-half large--one-half' %}
      {% assign product_size = 515 %}
    {% when 3 %}
      {% assign grid_item_width = 'medium--one-third large--one-third' %}
      {% assign product_size = 335 %}
    {% when 4 %}
      {% assign grid_item_width = 'medium-down--one-half large--one-quarter' %}
      {% assign product_size = 460 %}
  {% endcase %}

  <div class="grid-uniform product-grid">
    {% for product in featured_collection.products limit: total_products %}
      {% assign featured = product %}
      <div class="grid-item {{grid_item_width}}" {{ block.shopify_attributes }}>
        {% include 'product-grid-item' with product_size: product_size %}
      </div>
    {% else %}
      {% include 'onboarding-featured-products' %}
    {% endfor %}
  </div>
</div>



{% schema %}
{
  "name": {
    "de": "Featured Kategorie",
    "en": "Featured collection",
    "es": "Colección destacada",
    "fr": "Collection en vedette",
    "it": "Collezione in evidenza",
    "ja": "特集コレクション",
    "pt-BR": "Coleção em destaque"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Featured Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "pt-BR": "Coleção em destaque"
      }
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": {
        "de": "Featured Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "pt-BR": "Coleção em destaque"
      }
    },
    {
      "type": "range",
      "id": "num_per_row",
      "label": {
        "de": "Produkte per Reihe",
        "en": "Products per row",
        "es": "Productos por fila",
        "fr": "Produits par rangée",
        "it": "Prodotti per riga",
        "ja": "行あたりの商品数",
        "pt-BR": "Produtos por linha"
      },
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "range",
      "id": "num_rows",
      "label": {
        "de": "Reihen",
        "en": "Rows",
        "es": "Filas",
        "fr": "Rangées",
        "it": "Righe",
        "ja": "行",
        "pt-BR": "Linhas"
      },
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 2
    },
    {
      "type": "select",
      "id": "product_details_display_method",
      "label": {
        "de": "Titel und Preis anzeigen",
        "en": "Show title and price",
        "es": "Mostrar título y precio",
        "fr": "Afficher le titre et le prix",
        "it": "Mostra titolo e prezzo",
        "ja": "タイトルと価格を表示する",
        "pt-BR": "Exibir título e preço"
      },
      "options": [
        {
          "value": "always",
          "label": {
            "de": "Immer",
            "en": "Always",
            "es": "Siempre",
            "fr": "Toujours",
            "it": "Sempre",
            "ja": "常に",
            "pt-BR": "Sempre"
          }
        },
        {
          "value": "hover",
          "label": {
            "de": "Beim Herüberfahren",
            "en": "On hover",
            "es": "En hover",
            "fr": "Passer la souris",
            "it": "Al passaggio del mouse",
            "ja": "マウスオーバー時に",
            "pt-BR": "Ao passar"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Featured Kategorie",
        "en": "Featured collection",
        "es": "Colección destacada",
        "fr": "Collection en vedette",
        "it": "Collezione in evidenza",
        "ja": "特集コレクション",
        "pt-BR": "Coleção em destaque"
      },
      "category": {
        "de": "Kategorie",
        "en": "Collection",
        "es": "Colección",
        "fr": "Collection",
        "it": "Collezione",
        "ja": "コレクション",
        "pt-BR": "Coleção"
      },
      "settings": {
        "num_per_row": 3,
        "num_rows": 2
      }
    }
  ]
}
{% endschema %}
