{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available  %}
  {% assign sold_out = false %}
{% endif %}

<div itemscope itemtype="http://schema.org/Product" id="ProductSection" data-section-id="{{ section.id }}" data-section-type="product-template" data-zoom-enable="{{ section.settings.product_image_zoom_enable }}" data-enable-history-state="true">

  <div class="product-single__header text-center">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    {% if collection.handle %}
      <a href="{{ collection.url }}" class="collection-title text-center" item-prop="collection">{{ collection.title }}</a>
    {% endif %}

    <h1 itemprop="name" class="product-single__title{% if section.settings.product_vendor_enable %} wvendor{% endif %}">{{ product.title }}</h1>
    {% if section.settings.product_vendor_enable %}
      <p class="product-single__vendor">{{ product.vendor | link_to_vendor }}</p>
    {% endif %}
    <hr class="hr--small">

    {% comment %}
      Optionally show the 'compare at' or original price of the product.
    {% endcomment %}

    <div class="h2 product-single__price">
      {% if product.compare_at_price_max > product.price %}
        <span class="visuallyhidden compare-price-a11y">{{ 'products.general.sale_price' | t }}</span>
      {% else %}
        <span class="visuallyhidden price-a11y">{{ 'products.general.regular_price' | t }}</span>
      {% endif %}
      <span class="product-price" {% if product.compare_at_price > product.price %} class="on-sale"{% endif %}>
        {{ product.price | money }}
      </span>

      {% if product.compare_at_price_max > product.price %}
        <span class="visuallyhidden price-a11y">{{ 'products.general.regular_price' | t }}</span>
        <del class="compare-price">{{ product.compare_at_price_max | money }}</del>
      {% endif %}
    </div>
  </div>

  <div class="grid product-single">
    <div class="grid-item large--one-half text-center">
      <div class="product-single__photos">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

        {% for image in product.images %}
          {% capture img_id %}ProductImage-{{ image.id }}{% endcapture %}
          {% capture img_wrapper_id %}ProductImageWrapper-{{ image.id }}{% endcapture %}
          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          {% include 'image-style' with image: image, small_style: false, width: 480, height: 480, wrapper_id: img_wrapper_id, img_id: img_id %}

          <div id="{{ img_wrapper_id }}" class="product-single__image-wrapper js{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}">
            <div style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;">
              <img id="{{ img_id }}"
                   class="product-single__image lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                   data-src="{{ img_url }}"
                   data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="{{ image.aspect_ratio }}"
                   data-sizes="auto"
                   {% if section.settings.product_image_zoom_enable %} data-zoom="{{ image | img_url: '1024x1024' }}"{% endif %}
                   alt="{{ image.alt | escape }}">
            </div>
          </div>
        {% else %}
          <img src="{{ image | img_url: 'large' }}">
        {% endfor %}

        <noscript>
          <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}">
        </noscript>
      </div>

      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% if product.images.size > 1 %}
        <ul class="product-single__thumbs grid-uniform" id="productThumbs">

          {% for image in product.images %}
            <li class="grid-item one-quarter">
              <a href="{{ image.src | img_url: '1024x1024' }}" class="product-single__thumb" data-image-id="{{ image.id }}">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}

        </ul>
      {% endif %}
    </div>

    <div class="grid-item large--one-half">

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        {% comment %}
          Get first variant, or deep linked one
        {% endcomment %}
        {% assign variant = product.selected_or_first_available_variant %}

        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ variant.price | divided_by: 100.00 }}">

        <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">

        {% comment %}
          ID addToCartForm is a selector for the ajaxify cart plugin
        {% endcomment %}
        {% capture 'form_id' %}addToCartForm-{{ section.id }}{% endcapture %}
        {% form 'product', product, id:form_id %}

          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <div class="product-single__variants">
            <select name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  {% comment %}
                    Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                  {% endcomment %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="grid--uniform product-single__addtocart{% if section.settings.enable_payment_button %} product-single__shopify-payment-btn{% endif %}">
            {% if section.settings.product_qty_enable %}
              {% unless sold_out %}<label>{{ 'products.product.quantity' | t }}</label>{% endunless %}
              <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
            {% endif %}
            <button type="submit" name="add" id="addToCart-{{ section.id }}" class="btn btn--large btn--full{% if section.settings.enable_payment_button %} shopify-payment-btn btn--secondary{% endif %}">
              <span class="add-to-cart-text">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            {% if section.settings.enable_payment_button %}
              {{ form | payment_button }}
            {% endif %}
          </div>

        {% endform %}

      </div>

      <div class="product-single__desc rte" itemprop="description">
        {{ product.description }}
      </div>

      {% if section.settings.share_enable %}
        {% include 'social-sharing' %}
      {% endif %}

    </div>
  </div>
  {% if section.settings.related_products_enable %}
    {% include 'related-products' %}
  {% endif %}
</div>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}



{% schema %}
{
  "name": {
    "de": "Produktseite",
    "en": "Product page",
    "es": "Página de productos",
    "fr": "Page de produit",
    "it": "Pagina di prodotto",
    "ja": "商品ページ",
    "pt-BR": "Página de produto"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "product_vendor_enable",
      "label": {
        "de": "Produktverkäufer anzeigen",
        "en": "Show product vendor",
        "es": "Mostrar proveedor del producto",
        "fr": "Afficher le distributeur du produit",
        "it": "Mostra fornitore prodotto",
        "ja": "商品の販売元を表示する",
        "pt-BR": "Exiba o fornecedor do produto"
      }
    },
    {
      "type": "checkbox",
      "id": "product_image_zoom_enable",
      "label": {
        "de": "Aktivieren des Bildzooms",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fr": "Activer le zoom sur image",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "画像ズームを有効にする",
        "pt-BR": "Ative o zoom da imagem"
      }
    },
    {
      "type": "checkbox",
      "id": "related_products_enable",
      "label": {
        "de": "Ähnliche Produkte anzeigen",
        "en": "Show related products",
        "es": "Mostrar productos relacionados",
        "fr": "Afficher les produits connexes",
        "it": "Mostra prodotti correlati",
        "ja": "関連商品を表示する",
        "pt-BR": "Exiba produtos relacionados"
      }
    },
    {
      "type": "checkbox",
      "id": "product_qty_enable",
      "label": {
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "pt-BR": "Exiba um seletor de quantidade"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fr": "Afficher le bouton de passage à la caisse dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "pt-BR": "Exibir botão dinâmico de finalização da compra"
      },
      "info": {
        "de": "Lässt Kunden direkt bezahlen mit bekannten Bezahlmethoden. [Mehr erfahren](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Permite a los clientes pagar directamente usando un método de pago familiar. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Permet à vos clients de passer à la caisse en choisissant un moyen de paiement qui leur est familier. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Fai in modo che i clienti effettuino il check-out direttamente utilizzando un metodo di pagamento a loro conosciuto. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "使い慣れた決済方法を使用して、お客様に直接チェックアウトしてもらいましょう。[もっと詳しく](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Permite que os clientes finalizem os pedidos na hora usando um método de pagamento salvo. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "share_enable",
      "label": {
        "de": "Teilen von Produkten aktivieren",
        "en": "Enable product sharing",
        "es": "Habilitar compartir productos",
        "fr": "Activer le partage de produits",
        "it": "Permetti condivisione del prodotto",
        "ja": "商品の共有を有効にする",
        "pt-BR": "Habilite o compartilhamento de produtos"
      }
    }
  ]
}
{% endschema %}
